<div id ="container">
 <body>

 <div id ="top">

 	<header> <h1>Chi-Town Reggae </h1></header>

 		<div id = "shoutout">

 			<p><h3> What's Happenin' Around Town.... </h3></p>

 		</div>


 <nav>

 	<ul>
 		<li><a href = "">Home</a></li>
 		<li><a href = "">Events</a></li>
 		<li><a href = "">Venues</a></li>
 		<li><a href = "">Artists</a></li>
 		<li><a href = "">Gallery</a></li>
 		<li><a href = "">Magazine</a></li>

 	</ul>		

<form action="demo_form.asp">
  <input type="search" placeholder = "Search"> <br>
  <br>
  <input type="submit">
</form>
</div>
